<!--Created by Adrian Castro-->
<div class="container-fluid img-fl"
    style="background-image: url(https://i.imgur.com/4rqjlTH.png); background-repeat: no-repeat; background-size: 100% 100%; background-position: center; height: 100%; width: 100%;">
    <div class="row">

        <div class="col-12 p-5 text-center"
            style="background-image: url('https://i.imgur.com/PweToZC.png'); background-position: center; background-repeat: no-repeat; background-size: contain;">
            <h1 class="m-0"> Contactanos </h1>
            <h2> (¡O has un pedido!) </h2>
        </div>

    </div>

    <div class="row justify-content-end">

        <div class="col-6" style="background-image: url('https://i.imgur.com/VD3RxGE.png'); background-position: center; background-size: 75% 90%; background-repeat: no-repeat; padding: 100px 250px 80px 250px;">
            <form>
                <div class="mb-1">
                    <label for="exampleInputText" class="form-label fs-5 m-0">Nombre:</label>
                    <input type="text" class="form-control fs-6 border-warning" id="exampleInputText" placeholder="example: Bob Esponja">
                </div>
                <div class="mb-1">
                    <label for="exampleInputEmail1" class="form-label fs-5 m-0">Correo:</label>
                    <input type="email" class="form-control fs-6 border-warning" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="example: estoylisto@krustykrab.com">
                    <div id="emailHelp" class="form-text fs-6">Nosotros nunca compartiremos tus datos con Plankton</div>
                </div>
                <div class="mb-1">
                    <label for="exampleFormControlTextarea1" class="form-label fs-5 m-0">Mensaje:</label>
                    <textarea class="form-control fs-6 border-warning" id="exampleFormControlTextarea1" rows="3" placeholder="Cuentanos lo que necesitas"></textarea>
                </div>
                <div class="mb-1 mt-3 d-flex justify-content-center">
                <button type="submit" class="btn btn-danger w-25 fs-5 text-center">Enviar</button>
                </div>
            </form>
        </div>

        <div class="col-3 h-100 d-flex flex-column" style="background-image: url('https://i.imgur.com/rzg7fRh.png'); background-position: center; background-repeat: no-repeat; background-size: 100% 100%; padding: 65px;">
            <div class="d-flex mb-2"> 
                <div class="d-flex align-items-center me-2">
                    <i class="fa-solid fa-location-dot fs-1" style="color: rgb(255, 59, 59);"></i>
                </div>
                <div class="">
                    <h5 class="m-0">Donde Encontrarnos:</h5>
                    <p class="m-0">124 Conch Street, Fondo de Bikini</p>
                </div>
            </div>

            <div class="d-flex mb-2"> 
                <div class="d-flex align-items-center me-2">
                    <i class="fa-solid fa-phone-volume fs-1" style="color: rgb(0, 171, 255);"></i>
                </div>
                <div class="">
                    <h5 class="m-0">Llamanos:</h5>
                    <h6 class="m-0">(¡Solo para pedidos!)</h6>
                    <p class="m-0">555-KRUSTY-KRAB</p>
                </div>
            </div>

            <div class="d-flex mb-2"> 
                <div class="d-flex align-items-center me-2">
                    <i class="fa-solid fa-envelope fs-1" style="color: rgb(99, 230, 190);"></i>
                </div>
                <div class="">
                    <h5 class="m-0">Correo:</h5>
                    <p class="m-0">krabs@krustykrab.bb</p>
                </div>
            </div>

            <div class="d-flex mb-2"> 
                <div class="d-flex align-items-center me-2">
                    <i class="fa-solid fa-clock fs-1" style="color: rgb(255, 125, 0);"></i>
                </div>
                <div class="">
                    <h5 class="m-0">Horario:</h5>
                    <p class="m-0">Lunes - Domingo</p>
                    <p class="m-0">8am - hasta que Don Cangrejo se canse</p>
                </div>
            </div>

        </div>
    </div>
</div>