<!--Created by Adrian Castro-->
<footer>
    <div class="row mt-4">
        <div class="col-12 p-5 text-center"
            style="background-image: url('https://i.imgur.com/ETYfvcf.png'); background-position: center; background-repeat: no-repeat; background-size: contain;">
            <p class="text-decoration-underline fw-bold m-0"> @THE KRUSTY KRAB - FONDO DE BIKINI | <a href="index.html"> IR A INICIO</a> </p>
            <p class="text-decoration-underline fw-bold m-0"> DERECHOS RESERVADOS, PROPIEDAD DE EUGENIO H, CANGREJO (DON CANGREJO) </p>
        </div>

    </div>
</footer>
