<div class="container mt-4 bg-white">

    <h3 class="display-6 fw-bold">Cangreburguers</h3>

    <p class="fw-medium fs-5">¡Bienvenidos al hogar de la Cangreburguer! El único lugar de Fondo de Bikini donde la comida se cocina con amor y se sirve con orgullo. 
        Como diría Don Cangrejo: '¡Es el sabor que el dinero no puede comprar!'.
        Prepárate para degustar la perfección absoluta en cada bocado, porque una vez que pruebes una, ¡no podrás parar!</p>

    <div class="row">

        <div class="col-12 col-sm-6 col-md-4">
            <div class="ratio ratio-16x9 mb-3">
            <img src="https://i.pinimg.com/736x/e8/37/8a/e8378a8c42e269f8899c1a1d1197aecb.jpg" style="object-fit: cover;" alt="...">
            </div>

            <div>

                <h5 class="text-primary">Cangreburguer Clásica</h5>

                <p class="text-muted">La clásica y deliciosa Cangreburguer. 
                    "Una hamburguesa tiene una cabellera de lechuga y mejillas rosadas de kétchup."
                </p>

            </div>

        </div>

        <div class="col-12 col-sm-6 col-md-4">
            <div class="ratio ratio-16x9 mb-3">
            <img src="https://i.pinimg.com/1200x/a7/4e/77/a74e77ebebd6dad6de0b7ad0f49a5223.jpg" style="object-fit: cover;" alt="...">
            </div>

            <div>

                <h5 class="text-primary">ColorBurguer</h5>

                <p class="text-muted">¡Disponibles en seis colores de diseñador! ¿Quién quiere una normal cuando puedes tener una divertida?</p>

            </div>

        </div>

        <div class="col-12 col-sm-6 col-md-4">
            <div class="ratio ratio-16x9 mb-3">
            <img src="https://i.pinimg.com/1200x/2b/37/80/2b37804d775d878c41280950afdb2fc7.jpg" style="object-fit: cover;" alt="...">
            </div>

            <div>

                <h5 class="text-primary">Cangreburguer Doble</h5>

                <p class="text-muted">¡Una Cangreburger! Primero pan, carne, kétchup, mostaza, pepinillos, cebolla extra, lechuga, 
                    queso, tomate y pan... ¡En ese orden! ¡Pero doble!.</p>

            </div>

        </div>

    </div>

</div>